.journal .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A6CFD5 !important;
    color: black;
}

.journal .form-control {
    border: 0;
    box-shadow: none;
}

.journal .new-button {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 60px;
    top: 80px;
}

.journal .save-button {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 700px;
    top: 770px;
    background-color: white;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.journal .entry-button {
    position: relative;
    width: 270px;
    height: 60px;
}

.journal #entries {
    position:absolute;
    top: 145px;
    display:flex;
    flex-direction:column;
}

/* .journal .seq1 {
    position: absolute;
    left: 0px;
    top: 145px;
}

.journal .seq2 {
    position: absolute;
    left: 0px;
    top: 210px;
} */
.journal h12 {
    color: black;
}
.journal h13 {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.journal h14 {
    position: absolute;
    width: 863px;
    height: 0px;
    left: -163px;
    top: 430px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
}

.journal #journal-body {
    position: absolute;
    min-width: 100%;
    min-height: 140%;
    background-color: #F7F3F3;
    display: flex;
    flex-direction: row;
}


.journal #search-box {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 10px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 45px;
}

.journal #title-box {
    position: absolute;
    width: 650px;
    height: 70px;
    left: 600px; /* 350*/
    top: 30px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.journal #rating-box {
    position: absolute;
    width: 150px;
    height: 70px;
    left: 1300px; /* 1050 */
    top: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #000000;
    background: #FFFFFF;
}

.journal #message-box {
    position: absolute;
    width: 850px;
    height: 600px;
    left: 600px; /* 350 */
    top: 135px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.journal #oldEntry {
    position: absolute;
    width: 270px;
    height: 60px;
    left: 0px;
    top: 217px;
}

.journal #search-form {
    position: absolute;
    width: 200px;
    height: 40px;
    left: 30px;
    top: 15px;
}

.journal #title-form {
    position: absolute;
    width: 630px;
    height: 300px;
    left: 610px; /* 360 */
    top: 45px;
}

.journal #rating-form {
    position: absolute;
    width: 140px;
    height: 100px;
    left: 1305px; /*1055 */
    top: 45px;
}

.journal #message-form {
    position: absolute;
    width: 830px;
    height: 600px;
    left: 610px; /* 360 */
    top: 140px;
}

.journal #save-button {
    position: absolute;
    left: 850px;
    top: 775px;
}

.journal #delete-button {
    position: absolute;
    left: 850px;
    top: 775px;
}

