.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A6CFD5 !important;
    color: black;
}

.btn-xl {
    width: 150px;
    height: 50px;
    left: 60px;
    top: 153px;
}

body {
    background-color: #F7F3F3;;
  }

.journal h12 {
    color: black;
}
.journal h13 {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
#search {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 10px;
    top: 91px;
    margin-top: 3rem;

    background: #FFFFFF;
    
}

#newEntry {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 60px;
    top: 153px;
    background: #A6CFD5;
    
}

#oldEntry {
    position: absolute;
    width: 270px;
    height: 60px;
    left: 0px;
    top: 217px;
}

