#landing-background {
    background: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15)), url("../img/landing_background.jpg");
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

#info-container {
    position: absolute;
    right: 20%;
    top: 20%;
}

p {
    font-size: 40px;
}

