.settings .btn-secondary {
    background-color: #F7F3F3 !important;
    color: black;
}

.settings #settings-body {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: #F7F3F3;
    display: flex;
    flex-direction: row;
}

.settings #modul-body {
    position: absolute;
    width: 500px;
    height: 600px;
    left: 470px;
    top: 150px;

    background: #A6CFD5;
    border-radius: 15px;
}

.settings h12 {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 620px;
    top: 168px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.settings h13 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;
}

.settings h14 {
    position: absolute;
    width: 129px;
    height: 31px;
    left: 655px;
    top: 227px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}

.settings #first-name {
    position: absolute;
    width: 77px;
    height: 10px;
    left: 594px;
    top: 267px;
}

.settings #last-name {
    position: absolute;
    width: 71px;
    height: 10px;
    left: 594px;
    top: 346px;
}

.settings #email {
    position: absolute;
    width: 50px;
    height: 10px;
    left: 594px;
    top: 425px;
}

.settings #color {
    position: absolute;
    width: 94px;
    height: 10px;
    left: 594px;
    top: 503px;
}

.settings #color-palette {
    position: absolute;
    width: 250px;
    height: 125px;
    left: 594px;
    top: 519px;
}

.settings #first-name-box {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 594px;
    top: 283px;

    background: #F7F3F3;
    border-radius: 10px;
}

.settings #first-name-form {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 594px;
    top: 283px;
}

.settings #last-name-box {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 594px;
    top: 362px;

    background: #F7F3F3;
    border-radius: 10px;
}

.settings #last-name-form {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 594px;
    top: 362px;
}

.settings #email-box {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 594px;
    top: 441px;

    background: #F7F3F3;
    border-radius: 10px;
}

.settings #email-form {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 594px;
    top: 441px;
}

.settings #save {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 670px;
    top: 876px;

    background: #F7F3F3;
    border-radius: 10px;
}